AWS Step Function/Execution.json
{
    "Comment":"Transaction Processor State Machine",
    "StartAt":"ProcessTransaction",
        "States":{
            "ProcessTransaction":{
                "Type":"Choice",
                "Choices":[
                    {
                        "Variable":"$.TransactionType",
                        "StringEquals":"PURCHASE",
                        "Next":"ProcessPurchase"
                    },
                    {
                        "Variable":"$.TransactionType",
                        "StringEquals":"REFUND",
                        "Next":"ProcessRefund"
                    }
                ]
            },
            "ProcessRefund":{
                "Type":"Task",
                "Resource":"arn:aws:lambda:ap-south-1:059047410796:function:refund",
                "End":true
            },
            "ProcessPurchase":{
                "Type":"Task",
                "Resource":"arn:aws:lambda:ap-south-1:059047410796:function:purchase",
                "End":true
        }
    }
}